
@import url('import.css');

/* Items for this project:
    COLORS:
    #262626
    #F2E2CE
    lightgrey
    antiquewhite
   FONTS:
    font-family: 'Bookman Old Style', Arial,Helvetica,sans-serif.
*/

/*Header*/

#headerOverlay {
    background-image: url('../images/waterdropblackjennasedit.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 3% 64%;
    padding: 1em;
}

header {
    background-color: #F2E2CE;
    position: relative;
}

    header .socialheader {
        font-size: 30px;
        width: 203px;
        position: absolute;
        top: 30px;
        right: 0;
    }

#indexTitle {
    font-family: 'Bookman Old Style';
    font-size: 25px;
}

header h1 {
    letter-spacing: 0.1em;
    color: #000;
    margin: 7px 0 7px 124px;
    font-size: 80px;
    font-family: 'Bookman Old Style';
}

header p {
    letter-spacing: 1px;
    margin: -19px 0 0px 125px;
    font-size: 15px;
}

body {
    background: url('/images/coffeeshopbigfile.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 1%;
}

/*Index.html Page*/


#ourStory {
    margin: 6px 0px 75px 0px;
}

#frontendDev section {
    width: 86%;
    margin: 31px 0px 0px 37px;
}

    #frontendDev section h2 {
        margin: 10px 75px;
    }

#aboutUsImage1 {
    float: left;
    height: 301px;
    margin-left: -10px;
    margin-top: 31px;
    margin-right: 35px;
}

#chemexPour {
    float: right;
    margin-left: 6%;
    margin-top: 0%;
    margin-right: -2.7%;
    border: 2px solid;
}

#baristaTamp {
    float: left;
    margin-left: -2%;
    margin-right: 3.5%;
    border: 2px solid;
}

#indexaboutus {
    padding: 6%;
}

.ourFacility {
    padding: 5% 0%;
}

#classSub {
    margin: 1%;
    width: auto;
    text-align: center;
    color: antiquewhite;
}

h1 p {
    display: block;
    font-family: Arial,Helvetica,sans-serif;
}

section h1 {
    color: #262626;
    font-family: 'Bookman Old Style';
    margin-top: 4px;
}

h2 {
    color: #262626;
    font-family: 'Bookman Old Style';
    margin: 0;
}

main {
    background-color: antiquewhite;
    padding: 0% 4% 8% 4%;
    margin: 1%, 7%;
    max-width: 980px;
    margin: auto;
    position: relative;
}

    /*index why choose us*/
    main section article h2 {
        font-size: 37px;
        margin-bottom: 14px;
        margin-top: 48px;
    }

nav ul {
    margin: auto;
    padding: 0px 0px 0px 200px;
    word-spacing: 35px;
    background-color: transparent; /*KEEP b/c we are making the nav bar white instead of the browser choosing the background to be white for us.*/
}

    nav ul li { /*KEEP*/
        display: inline-block;
    }

        nav ul li a { /*KEEP*/
            padding: .5em;
            display: block;
            color: #fff;
            word-spacing: 1px;
            font-family: Arial,Helvetica,sans-serif;
            font-size: 18px;
        }

/*Classes.html*/


.card {
    display: block;
    float: left;
    border: 3px outset lightgray;
    padding: 4px;
    width: 235px;
    height: 370px;
    margin: 10px 35px;
    font-size: 19px;
}

    .card:hover {
        border-color: #F2E2CE;
    }

.classes-grid a {
    color: inherit;
}

.classes-grid h3 {
    font-size: 20px;
    font-family: 'Bookman Old Style';
    text-align: center;
}

.classes-grid p {
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    margin: auto;
}

.classes-grid img {
    width: 235px;
}

#classesTitle {
    font-size: 37px;
    text-align: center;
    font-family: 'Bookman Old Style';
}

.mainWrapper {
    padding: 1%;
    border-radius: 100%;
}

#cssLeftColumn {
    width: 75%;
    float: left;
    border-right: 1px dashed #262626;
    box-sizing: border-box;
}

#cssRightColumn {
    width: 25%;
    float: right;
}

.clear {
    clear: both; /*a clear has to be put inside the PARENT*/
}

/*TABLE in Classes.html*/
table, tr, td, th {
    border: 2px solid black;
    background-color: lightgray;
    border-collapse: collapse /*this avoids duplicate adjacent borders inside of a table.*/
}

    table tr th {
        font-family: 'Bookman Old Style';
        color: black;
    }

    table tbody th {
        font-family: Arial,Helvetica,sans-serif;
        color: black;
    }

table {
    margin: auto;
    margin-bottom: 2em;
}

th {
    font-weight: bold;
    text-align: center;
}

td, th {
    padding: .3em;
}

thead {
    background-color: lightgray;
}

tfoot {
    background-color: antiquewhite;
}

    tfoot tr, tfoot td {
        border: 0;
    }

/* Team.html */

/*Team Nav*/
main aside h1 {
    font-family: 'Bookman Old Style';
    font-size: 29px;
}

aside ul li {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 25px;
}

main h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 6vh;
    background: antiquewhite;
}

section, h1 p {
}

aside h1 {
    padding: 2%;
    margin-top: 0;
    font-size: 32px;
}

section aside div p {
    font-family: Arial,Helvetica,sans-serif;
}

aside h2 {
    font-size: 25px;
    margin-top: 3%;
    margin-bottom: 5%;
}

    aside h2 i {
        font-size: 15px;
        justify-content: center;
        align-items: center;
    }

#rightColumn {
    width: 25%;
    float: right;
}

#htmlLeftColumn {
    margin-right: 25%;
    border-right: 1px dashed #fff;
}

#htmlRightColumn {
    width: 25%;
    float: right;
}

#departmentNavBar {
    width: 25%;
    float: right;
    padding: .5em;
}

.departmentNavHead {
    font-family: 'Bookman Old Style';
    font-size: 29px;
    padding: 0% 0%;
}

#navListItems {
}

.teamMembers section aside img {
    width: 100%;
    max-width: 180px;
    float: left;
    margin: 0 40px 20px 0;
    border-radius: 100px;
}

.teamMember p {
    font-family: Arial,Helvetica,sans-serif;
    margin: 1% 0% 20% 0%;
}

/*Contact Box*/


#contactTitle {
    font-size: 55px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 6vh;
}

.center {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background: antiquewhite;
}

.contactinfo {
    width: 610px;
    margin: auto;
    overflow: auto;
    min-height: 800px;
    background-color: antiquewhite;
}

.contact {
    width: 610px;
    margin: auto;
    overflow: auto;
}

.wrapper {
    margin: 0 20px;
}

.contact .phone, .contact .email, .contact .address {
    font-size: 1.5em;
    border-top: solid 4px;
    border-bottom: solid 4px;
}

p {
    font-family: Arial,Helvetica,sans-serif;
    margin: 1% 0% 3% 0%;
}

a {
    font-weight: bolder;
    text-decoration: none;
    color: #262626;
}

ul.blockList a:hover {
    background-color: #262626;
    color: antiquewhite;
}

a:hover, a:active, a:focus {
    color: #262626;
    text-decoration: none;
    background-color: lightgrey;
    font-weight: bold;
}

/*Footer*/
footer {
    background-color: #262626;
    color: white;
}

footer {
    padding: 1%;
    margin-top: 2%;
}
